.row{

    width : 95%;
    height : auto;
    margin : 12px;
    padding : 5px;
    display : block;

}

.row:hover{
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

.row > img{
    max-width : 800px;
    height : auto;
}

