

.menu{

    width : 100px;
    height : 40px;
    margin : 8px;
    display: inline-block;
    background-color: lightblue;
    border-style: groove;
    border-width: thin;
    text-align: center;
    cursor : pointer;

}

.menu:hover{
    background-color: red;
}

img{
    margin: 5px;
    vertical-align: middle;
}

i{
    min-width : 8px;
    margin : 5px
}